form{
    font-family: Helvetica;
}


label {
    display: inline-block;
    width: 120px;
     
}
label[for=""] {margin-left: 84px;
    width: auto;
    
}
input[type="text"], input[type="email"] {
    
    width: 200px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #999
        color: blue;
    
    
    
    
}

textarea{ 
width: 116px;
    padding: 50px;
    height: 7px;
    vertical-align: top;

}

select {padding: fixed ;
    width: 222px;
    padding: 7px;
    
}

input[type="submit"] {
    
    padding: 5px 27px;
    font-size: 14px;
    cursor: pointer;
    
}
 :focus {
    outline: none;
    
}

input:focus, textarea:focus {background: #eee;}